#calculator {
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 40px;
  height: 40px;
  margin: 3px;
}